#global-cookie-message {
	display: none;
}
#global-breadcrumb {
	background-color: #fff;
	max-width: 1020px;
	margin: 0 auto;
	z-index: 50;
	ol {
		max-width: 960px;
		margin: 0 30px;
		padding: 0.75em 0;
		li {
			font-family: "nta",Arial,sans-serif;
			font-size: 16px;
			line-height: 1.25;
			font-weight: 400;
			text-transform: none;
			background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-cdeb08166e771d0c630c018110044965.png);
			background-position: 100% 50%;
			background-repeat: no-repeat;
			float: left;
			list-style: none;
			margin-left: 0;
			margin-right: 0.5em;
			margin-bottom: 0.4em;
			padding-right: 1em;
			&.last-breadcrumb,
			&:last-child,
			&.sign-out {
				background-image: none;
			}
			&.sign-out {
				float: right;
				a {
					color: #0076c0;
				}
			}
			a {
				color: #0b0c0c;
			}
		}
	}
}

.expires {
	color: #b10e1e;
	a {
		margin: 0;
		display: inline;
		margin-left: 1em;
	}
}

@media (min-width: 769px) {
	.button-group {
		position: relative;
		.pull-right {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

ul.declare-list {
	padding-left: 1em;
	margin-bottom: 2em;
	list-style-type: circle;
		list-style-image: url(https://assets.digital.cabinet-office.gov.uk/static/bullet-disc-5px-004b50c23e288accb7f1811a46968402.gif);
	li {
		font-family: "nta",Arial,sans-serif;
		font-size: 19px;
		line-height: 1.31579;
		font-weight: 400;
		text-transform: none;
		margin: 0.25em 0;
		padding-left: 0.3em;
	}
}

.payment-success {
	max-width: 30em;
}

.top-space {
	margin-top: 2em;
}

em.highlight {
	font-style: normal;
	color: #0076c0;
}

input#licence-number,
input#photo-code,
input#card-number,
input#security-code {
	text-transform: uppercase;
}

#photo-code  {
	width: 10em;
}

input.button {
	margin: 10px 15px 15px 0;
	&:hover {
		cursor: pointer;
	}
}

div.tabbed-area {
	margin-top: 2em;
	position: relative;
	overflow: hidden;

	strong {
		font-weight: bold;
	}

	div#before-you-start-section,
	div#other-ways-to-apply-section,
	input#before-you-start,
	input#other-ways-to-apply,
	input#your-details,
	input#vehicles,
	input#penalties,
	input#share {
		display: none;
	}
	
	div.tab-area {
		padding-top: 1em;
		padding: 1em 1em 0 1em;
		border-top: solid 1px #bfc1c3;
		clear: both;
		width: auto;
		&#other-ways-to-apply-section > h2.heading-medium:first-of-type {
			margin-top: 0.6em;
		}
	}

	input#before-you-start:checked ~ div#before-you-start-section,
	input#other-ways-to-apply:checked ~ div#other-ways-to-apply-section {
		display: block;
	}
	
	label[for="before-you-start"],
	label[for="other-ways-to-apply"],
	label[for="your-details"],
	label[for="vehicles"],
	label[for="penalties"],
	label[for="share"] {
		font-size: 16px;
  		text-transform: none;
		height: 2.25em;
		line-height: 2.25em;
		margin-bottom: -1px;
		padding: 0.1em 1em 0.1em 1em;
		position: relative;
		text-align: center;
		border: solid 1px transparent;
		margin-top: 2em;
		display: inline-block;
		text-decoration: underline;
		color: #005ea5;
		&:hover {
			cursor: pointer;
		}
	}

	input#before-you-start:checked ~ label[for="before-you-start"],
	input#other-ways-to-apply:checked ~ label[for="other-ways-to-apply"],
	input#your-details:checked ~ label[for="your-details"] {
		background-color: #fff;
		border: solid 1px #bfc1c3;
		border-bottom: solid 1px #fff;
		color: #0b0c0c;
		position: relative;
		text-decoration: none;
		z-index: 5;
	}
	.application-notice {
		 padding: 0.1em 0 0.1em 1em;
	}
	.help-notice {
		background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-132af33c6e868e9f8702ce2f968e3a03.png) no-repeat scroll 0 0.5em;
		p {
			font-weight: 600;
			padding: 0 1em 0 2em;
		}
	}
	.info-notice {
	  background: none;
	  border-left: 10px solid #bfc1c3;
	  margin-bottom: 1em;
	  p {
	  	margin-bottom: 0.6em;
	  }
	}
	ul {
		padding-left: 1em;
		margin-bottom: 2em;
		list-style-type: circle;
  		list-style-image: url(https://assets.digital.cabinet-office.gov.uk/static/bullet-disc-5px-004b50c23e288accb7f1811a46968402.gif);
	}
	li {
		font-family: "nta",Arial,sans-serif;
		font-size: 19px;
		line-height: 1.31579;
		font-weight: 400;
		text-transform: none;
		margin: 0.25em 0;
		padding-left: 0.3em;
		ul {
			margin-bottom: 0;
		}
	}

	&.your-licence-tabs {
		label[for="your-details"] {
			margin-top: 0;
			height: 2.8em;
			z-index: 1;
			position: relative;
			overflow: visible;
			&:before {
				content: '';
				z-index: 0;
				width: 800%;
				height: 1px;
				background: #bfc1c3;
				display: block;
				position: absolute;
				top: 2.85em;
				left: 100%;
				right: 0;
			}
		}
		label[for="vehicles"],
		label[for="penalties"],
		label[for="share"] {
			background: #dee0e2;
			text-decoration: none;
			color: inherit;
			margin-bottom: 0.3em;
			margin-top: 0;
		}
		margin-bottom: 2em;
	}
}

fieldset {
	margin-bottom: 1em;
}

@media (min-width: 641px) {
	.form-control {
		margin-right: 50%;
	}
}

.heading-xlarge {
	margin-bottom: 0.9375em;
}

.button-get-started {
	margin-bottom: 0;
}

.destination {
	font-family: "nta",Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	font-weight: 400;
	text-transform: none;
	color: #0b0c0c;
	display: block;
	margin-top: 0.5em;
	max-width: 13em;
}

.licence-photo {
	width: 210px;
	height: 270px;
}

fieldset#payment {
	margin-top: 1em;
	input {
		margin-bottom: 1em;
	}
	span.form-hint {
		display: inline-block;
	}
	#security-code {
		width: 4em;
		max-width: 4em;
	}
	input.card-date {
		width: 2.2em;
		display: inline;
		margin: auto;
		text-transform: uppercase;
	}
}


fieldset.upload {
	div#enter-code {
		display: none;
	}
	label[for="radio-1"] > input {
		z-index: 1;
	}
	input[type="radio"]#radio-1:checked ~ div#enter-code {
		display: block;
	}
	div#enter-code {
		background: white;
		margin-top: -3.6em;
		padding-top: 4.95em;
		padding-bottom: 1em;
		z-index: 0;
		margin-left: -2.35em;
		padding-left: 2.35em;
		width: 100%;
		padding-right: 1.6em;
		margin-bottom: -0.8em;
		fieldset {
			 border-left: 4px solid #bfc1c3;
			 margin-left: -2.35em;
			 padding-left: 0.8em;
			input {
				position: relative;
				left: 0;
				top: 0;
			}
		}
	}
	.form-hint {
		font-size: 0.8em;
	}
}

ol.transfer-steps {
	strong {
		font-weight: bold;
	}
}

section.result {
	margin-bottom: 2em;
	position: relative;
	&:after {
		content: url(/public/images/PMA-Approved-logo.jpg);
		width: 100px;
		height: 100px;
		display: block;
		position: absolute;
		right: -100px;
		top: 0;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	> div {
		overflow: hidden;
		background: #dee0e2;
		padding: 1em;
		address {
			font-style: normal;
			span {
				display: block;
			}
			float: left;
			a {
				margin-top: 1em;
				display: inline-block;
			}
		}
		img.map {
			float: right;
		}
	}
}

.related {
	 margin-top: 24px;
	.header-bar {
		border-top: 10px solid #005ea5;
  		padding-top: 5px;
	}
	h2 {
		font-family: "nta",Arial,sans-serif;
		font-size: 24px;
		line-height: 1.25;
		font-weight: 400;
		text-transform: none;
		font-weight: 600;
		color: #0b0c0c;
		margin-top: 0.3em;
		margin-bottom: 0.5em;
		position: relative;
	}
	ul {
		font-family: "nta",Arial,sans-serif;
		font-size: 16px;
		line-height: 1.25;
		font-weight: 400;
		text-transform: none;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		li {
			margin-bottom: 0.75em;
 			padding-left: 0;
 			&.related-topic {
 				display: inline;
				font-weight: bold;
 			}
 			a {
				background-position: 0 -287px;
				background-repeat: no-repeat;
				display: block;
				line-height: 1.25em;
				orphans: 2;
 			}
		}
	}
}


table {
	thead {
		tr {
			th {
				font-size: 24px;
			}
		}
	}
	tbody {
		tr {
			td:first-of-type {
				@media (min-width: 641px) {
					width: 12em;
				}
			}
			td:last-of-type {
				font-weight: 600;
			}
		}
	}
}


footer#footer {
	display: none;
}

footer#footer2 {
  background-color: #dee0e2;
  border-top: 10px solid #005ea5;
}

#footer2 a {
  color: #454a4c;
}

#footer2 .footer-wrapper {
  margin: 0 auto;
  width: auto;
  max-width: 1020px;
  padding-top: 20px;
  background-color: #dee0e2;
  margin: 0 auto;
}

@media (min-width: 641px) {
	#footer2 .footer-wrapper {
	  padding-top: 60px;
	}
}

#footer2 .footer-categories .footer-explore h2, #footer2 .footer-categories .footer-inside-government h2 {
  margin: 0 15px;
  padding: 10px 0 0;
}

@media (min-width: 641px) {
	#footer2 .footer-categories {
	  padding: 0 15px 30px;
	}
}


@media (min-width: 641px) {
	#footer2 .footer-categories .footer-explore, #footer2 .footer-categories .footer-inside-government {
	  float: left;
	  width: 66.66%;
	  padding-bottom: 60px;
	}
}

@media (min-width: 641px) {
	#footer2 .footer-categories .footer-explore, #footer2 .footer-categories .footer-inside-government {
	  float: left;
	  width: 66.66%;
	  padding-bottom: 60px;
	}
}

@media (min-width: 641px) {
	#footer2 .footer-categories .footer-explore h2, #footer2 .footer-categories .footer-inside-government h2 {
	  padding: 0 0 20px;
	  border-bottom: 1px solid #bfc1c3;
	}
}

#footer2 h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  color: #171819;
  margin: 0;
}

#footer2 .footer-categories ul {
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 641px) {
	#footer2 .footer-categories {
		ul {
	  		float: left;
	  		margin: 15px 0 0 0;
	  		width: 50%;
	  	}
	  	.footer-inside-government {
		  	ul {
		  		width: 100%;
		  	}
	  	}
	}
}

#footer2 .footer-categories ul li {
  display: block;
  margin-bottom: 5px;
  padding: 10px 0 0;
  margin: 0 15px 5px;
}

@media (min-width: 641px) {
	#footer2 .footer-categories ul li {
	  padding: 20px 0 0;
	  margin: 0 15px;
	}
}


@media (min-width: 641px) {
	#footer2 .footer-categories .footer-explore, #footer2 .footer-categories .footer-inside-government {
	  float: left;
	  width: 66.66%;
	  padding-bottom: 60px;
	}
}
@media (min-width: 641px) {
	#footer2 .footer-categories .footer-inside-government {
	  float: left;
	  width: 33.33%;
	}
}

#footer2 .footer-categories hr {
  clear: both;
  margin: 0 15px 30px;
  border: 1px solid #bfc1c3;
  border-width: 1px 0 0 0;
}



#footer2 .footer-meta {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  clear: both;
  font-size: 0;
  color: #454a4c;
}

@media (min-width: 641px) {
	#footer2 .footer-meta {
	  padding-left: 30px;
	  padding-right: 30px;
	}
}

#footer2 .footer-meta .footer-meta-inner {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

@media (min-width: 641px) {
	#footer2 .footer-meta .footer-meta-inner {
	  width: 75%;
	}
}

#footer2 .footer-meta .footer-meta-inner ul {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  display: inline-block;
  list-style: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}

@media (min-width: 641px) {
	#footer2 .footer-meta .footer-meta-inner ul {
	  margin: 0 0 1em 0;
	}
}

#footer2 .footer-meta .footer-meta-inner ul li {
  display: inline-block;
  margin: 0 15px 0 0;
}

#footer2 .footer-meta .footer-meta-inner .open-government-licence {
  clear: left;
  position: relative;
}

@media (min-width: 641px) {
	#footer2 .footer-meta .footer-meta-inner .open-government-licence {
	  padding-left: 53px;
	}
}

#footer2 .footer-meta .footer-meta-inner .open-government-licence .logo {
  margin-bottom: 1em;
  padding-top: 0;
}

#footer2 .footer-meta .footer-meta-inner .open-government-licence p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding-top: 0.1em;
}

@media (min-width: 641px) {
	#footer2 .footer-meta .footer-meta-inner .open-government-licence .logo {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 41px;
	  height: 100%;
	}
}


#footer2 .footer-meta .footer-meta-inner .open-government-licence .logo a {
  display: block;
  width: 41px;
  height: 17px;
  overflow: hidden;
  text-indent: -999em;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/images/open-government-licence-bb7be3c893eb5888731ff361bb6283ef.png) 0 0 no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#footer2 .footer-meta .footer-meta-inner .open-government-licence .logo a {
	  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/images/open-government-licence_2x-05e69bb7bc5d3f1fe3cb54e52f495e13.png);
	  background-size: 41px 17px;
	}
}


#footer2 .footer-meta .copyright {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 30px 0 0 0;
  width: 100%;
  display: block;
}

@media (min-width: 641px) {
	#footer2 .footer-meta .copyright {
	  display: inline-block;
	  text-align: inherit;
	  width: 25%;
	  padding-top: 15px;
	  margin-top: 0;
	}
}

#footer2 .footer-meta .copyright a {
  display: block;
  background-image: url(images/govuk-crest.png?0.12.0);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  text-align: center;
  text-decoration: none;
  padding: 115px 0 0 0;
}

@media (min-width: 641px) {
	#footer2 .footer-meta .copyright a {
	  background-position: 100% 0%;
	  text-align: right;
	}
}
