{{<layout}}

{{$pageTitle}}
	Declaration
{{/pageTitle}}

{{$content}}


<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
		<li><a href="#">Home</a></li>
    	<li><a href="#">Driving and transport</a></li>
		<li class="last-breadcrumb"><a href="#">Driving licences</a></strong></li>
		<li class="sign-out"><a href="#">Sign out</a></li>
	</ol>
</div>

<main id="content" role="main">
	<h1 class="heading-xlarge">Declaration</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<p>
				I understand that it is a criminal offence to make a false declaration or withhold material information in order to obtain a driving licence and that to do so can lead to prosecution and a fine of up to £5,000 or imprisonment for a period of up to two years or both. 
			</p>
			<p>
				It is a legal requirement that you agree to this declaration. If you do not confirm that you have read, understood and agreed to this declaration we will be unable to continue your application. 
			</p>
			<p>
				I understand that it is a legal requirement that only one driving licence is held at one time and confirm that I have cut my driving licence in two and will return it and my counterpart document to DVLA. 
			</p>
			<p>
				For legal reasons, you must return your Vehicle Registration Certificate(s) to us. Failure to do so may result in a maximum fine of £1,000. Fraudulent use of a Vehicle Registration Certificate can result in a maximum fine of £5,000 and two years in prison. We'll give you the address for returning the old Vehicle Registration Certificate(s) at the end of this application.
			</p>
			<label class="form-checkbox" for="declare-1">
				<input id="declare-1" type="checkbox">
			Please confirm that you will return your old driving licence by clicking in the box.
			</label>
			<p>
				<a class="button" href="view-licence-details-updated">Pay now</a>
			</p>
		</div>
		<div class="column-third">
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
