{{<layout}}

{{$pageTitle}}
	Renew your driving licence - GOV.UK
{{/pageTitle}}

{{$content}}

	<div id="global-breadcrumb" class="header-context">
	    <ol role="breadcrumbs" class="group">
			<li><a href="#">Home</a></li>
	    	<li><a href="#">Driving and transport</a></li>
			<li><strong><a href="#">Driving licences</a></strong></li>
		</ol>
	</div>

	<main id="content" role="main">
	
	<div class="grid-row">
    <div class="column-two-thirds">
			<h1 class="heading-xlarge">Renew your driving licence</h1>
			<p>To renew your driving licence online you'll need a passport photo. You can use your existing UK passport photo or get your photo taken at an approved ID shop or booth, you’ll be given a unique code to enter online and won’t need to send us the photo. <a href="photographer-lookup-anon">Where can I get my photo taken?</a></p>
      <p>
        To use this service you need to sign up to GOV.UK Verify or use your existing GOV.UK Verify details.
      </p>
			<a href="http://govuk-verify.herokuapp.com/intro?requestId=renew-driving-license" class="button button-get-started" role="button">Start now</a>
      <div class="tabbed-area">
        <input id="before-you-start" type="radio" name="renew-tab-group" checked>
        <label for="before-you-start">Before you start</label>
        <input id="other-ways-to-apply" type="radio" name="renew-tab-group">
        <label for="other-ways-to-apply">Other ways to apply</label>
        <div class="tab-area" id="before-you-start-section">
          <div class="application-notice help-notice">
            <p>You can’t apply online if your name or title has changed or if you have a 5-year bus or lorry licence.</p>
          </div>
          <h2 class="heading-medium">What you need</h2>
          <p>
            To renew online, you need:
          </p>
          <ul>
            <li>to allow us to use your UK passport photo
              <ul>
                <li>we can use the photo from your existing UK passport</br> OR</li>
                <li>have recently had your photo taken at an approved photo booth or shop and have a unique code to enter online.<a href="need-photo-anon">Tell me more about getting a new photo</a></li>
              </ul>
            </li>
              <li>to be a resident of Great Britain - there’s a different service in <a rel="external" href="#">Northern Ireland</a>
            </li>
              <li>to pay £14 by MasterCard, Visa, Electron, Maestro or Delta debit or credit card (there’s no fee if you’re over 70 or have a medical short period licence)</li>
              <li>your current driving licence</li>
              <li>to not be disqualified from driving</li>
            </ul>
            <h2 class="heading-medium">How long it takes</h2>
            <p>
              Your driving licence should arrive within a week if you apply online. 
            </p>
            <p>
              Your new licence will be valid from the date of your application, not from the expiry date of your current licence.
            </p>

            <h2 class="heading-medium">About this service</h2>
            <p>
              You must renew a photocard licence every 10 years - you’ll receive a reminder before your current licence ends. 
            </p>
            <p>
              There’s a different service if you want to renew your licence and you’re <a href="#">70 or over</a>.
            </p>

        </div>
        <div class="tab-area" id="other-ways-to-apply-section">
            <h2 class="heading-medium">Applying at a Post Office</h2>
            <p>
              You’ll be sent a renewal form (D798) in the post. This has a list of the closest Post Offices where you can renew your driving licence.
            </p>
            <p>
              You can also find your nearest suitable Post Office on the <a rel="external" href="#">Post Office website</a> or you can call them.
            </p>
            <div class="contact">
              <p><strong>The Post Office</strong><br>
            Telephone: 0345 722 3344<br><a href="/call-charges">Find out about call charges</a></p>
            </div>
            <div class="application-notice help-notice">
              <p>You can’t apply at the Post Office if your name has changed. You’ll need to apply by post.</p>
            </div>
            <p>
              You'll need to take:
            </p>
            <ul>
              <li>the completed renewal form D798</li>
              <li>your photocard licence and paper counterpart if you have them</li>
              <li>the fee of £17</li>
            </ul>
            <div class="application-notice info-notice">
              <p>
                The Post Office will charge an extra £4.50 fee to process your application.
              </p>
            </div>
            <p>
              Your driving licence should arrive within 3 weeks. It might take longer if your medical or personal details need to be checked.
            </p>
            <div class="application-notice info-notice">
              <p>
                You can’t download a copy of form D798, but if you don’t get your renewal reminder you may still be able to renew your licence at selected Post Offices. You’ll need to have the photocard and paper counterpart of your current licence.
              </p>
            </div>
            <h2 class="heading-medium">Applying by post</h2>
            <p>
              You need to fill in renewal form D798 and include:
            </p>
            <ul>
              <li>a new <a href="#">passport type photo</a> taken within the last month (don’t sign the back of the photo)</li>
                <li>the photocard and paper counterpart of your current licence (you need to tick the relevant box on the D798 form if you’ve lost either part)</li>
                <li>a cheque or postal order for £17, payable to <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> (no fee is needed if you have a medical short period licence or you’re aged 70 or over)</li>
            </ul>
            <p>
              You also need to include <a href="#">identity documents</a> if you’ve changed your name.
            </p>
            <p>
              Send the application to:
            </p>
            <div class="address">
              <div class="adr org fn"><p>
                <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>  
                <br>Swansea   
                <br>SA99 1DH   
                <br></p>
              </div>
            </div>
              <h3 class="heading-small">If you don’t have the reminder form</h3>
              <p>If you don’t have the D798 reminder and want to apply by post, fill in form D1 ‘Application for a driving licence’, available from the <a rel="external" href="#">DVLA</abbr> form ordering service</a> and selected Post Offices.</p>
              <p>Your driving licence should arrive within 3 weeks. It might take longer if your medical or personal details need to be checked.</p>
            </div>
      </div>

		</div>
		<div class="column-third related">
			<div class="header-bar"></div>
			<h2 id="parent-subsection">Driving licences</h2>
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul>
					<li>
            <a href="#">View your driving licence information</a>
          </li>
          <li>
            <a href="#">Change the address on your driving licence</a>
          </li>
          <li>
            <a href="#">Change the name on your driving licence</a>
          </li>
          <li>
            <a href="#">Change the photo on your driving licence</a>
          </li>
          <li>
            <a href="#">Renew your driving licence if you're 70 or over</a>
          </li>
          <li>
            <a href="#">Driving licence fees</a>
          </li>
          <li class="related-topic">
          	<a href="#" title="More in Driving licences">More <span class="visuallyhidden">in Driving licences</span></a>
          </li>
    	</ul>
    </nav>
		</div>
	</div>

</main>

{{/content}}

{{/layout}}

<footer class="group js-footer" id="footer2" role="contentinfo">

  <div class="footer-wrapper">
    <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">Births, deaths, marriages and care</a></li>
          <li><a href="#">Business and self-employed</a></li>
          <li><a href="#">Citizenship and living in the UK</a></li>
          <li><a href="#">Crime, justice and the law</a></li>
          <li><a href="#">Disabled people</a></li>
          <li><a href="#">Driving and transport</a></li>
          <li><a href="#">Education and learning</a></li>
        </ul>
        <ul>
          <li><a href="#">Employing people</a></li>
          <li><a href="#">Environment and countryside</a></li>
          <li><a href="#">Housing and local services</a></li>
          <li><a href="#">Money and tax</a></li>
          <li><a href="#">Passports, travel and living abroad</a></li>
          <li><a href="#">Visas and immigration</a></li>
          <li><a href="#">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="#">How government works</a></li>
          <li><a href="#">Departments</a></li>
          <li><a href="#">Worldwide</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>

    <div class="footer-meta">
      <div class="footer-meta-inner">
        <h2 class="visuallyhidden">Support links</h2>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Rhestr o Wasanaethau Cymraeg</a></li>
          <li>Built by the <a href="#">Government Digital Service</a>
          </li>
        </ul>
        <div class="open-government-licence">
          <p class="logo"><a href="#" rel="license">Open Government Licence</a></p>
          <p>All content is available under the <a href="#" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
        </div>
        </div>
        <div class="copyright">
          <a href="#">© Crown copyright</a>
      </div>
    </div>
  </div>

</footer>