{{<layout}}

{{$pageTitle}}
	Renew your driving licence
{{/pageTitle}}

{{$content}}


	<div id="global-breadcrumb" class="header-context">
	    <ol role="breadcrumbs" class="group">
			<li><a href="#">Home</a></li>
	    	<li><a href="#">Driving and transport</a></li>
			<li><strong><a href="#">Driving licences</a></strong></li>
		</ol>
	</div>

	<main id="content" role="main">
	

	<div class="grid-row">
    	<div class="column-two-thirds">
			<h1 class="heading-xlarge">Renew your driving licence</h1>
			<p>Renew your driving licence online with DVLA if you have a valid UK passport.</p>

			<p>To use this service you need to sign up to GOV.UK Verify.</p>

				<a href="#" class="button button-get-started" role="button">Start now</a>
				<span class="destination"> on driving licensing online</span>

		</div>
		<div class="column-third related">
			<div class="header-bar"></div>
			<h2 id="parent-subsection">Driving licences</h2>
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul>
					<li>
	                  <a href="/view-driving-licence">View your driving licence information</a>
	                </li>
	                <li>
	                  <a href="/change-address-driving-licence">Change the address on your driving licence</a>
	                </li>
	                <li>
	                  <a href="/change-name-driving-licence">Change the name on your driving licence</a>
	                </li>
	                <li>
	                  <a href="/renew-photo-driving-licence">Change the photo on your driving licence</a>
	                </li>
	                <li>
	                  <a href="/renew-driving-licence-at-70">Renew your driving licence if you're 70 or over</a>
	                </li>
	                <li>
	                  <a href="/driving-licence-fees">Driving licence fees</a>
	                </li>
	                <li class="related-topic">
	                	<a href="/browse/driving/driving-licences" title="More in Driving licences">More <span class="visuallyhidden">in Driving licences</span></a>
	                </li>
            	</ul>
            </nav>
		</div>
	</div>

</main>

{{/content}}

{{/layout}}
