{{<layout}}

{{$pageTitle}}
	View your driving licence
{{/pageTitle}}

{{$content}}


<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
		<li><a href="#">Home</a></li>
    	<li><a href="#">Driving and transport</a></li>
		<li class="last-breadcrumb"><a href="#">Driving licences</a></strong></li>
		<li class="sign-out"><a href="/">Sign out</a></li>
	</ol>
</div>

<main id="content" role="main">
	<h1 class="heading-xlarge">Renew your driving licence photo</h1>

	<div class="grid-row">
		<div class="column-two-thirds">
			<img class="licence-photo" src="http://tmp-upload.brightflair.com/upload/photo.jpg" alt="Your licence photo">
			<p>
				<a href="payment" class="button">Use this photo</a>
			</p>
			<p>
				<a href="upload-your-photo">Cancel</a>
			</p>
			<p>
				<a href="upload-your-photo">No, this is not an image of me or I don’t want to use this image</a>
			</p>
		</div>
		<div class="column-third">
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
