{{<layout}}

{{$pageTitle}}
	View your driving licence
{{/pageTitle}}

{{$content}}


<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
		<li><a href="#">Home</a></li>
    	<li><a href="#">Driving and transport</a></li>
		<li class="last-breadcrumb"><a href="#">Driving licences</a></strong></li>
		<li class="sign-out"><a href="/">Sign out</a></li>
	</ol>
</div>

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">View your driving licence</h1>
			<p>
				You have a verified identity, but DVLA needs your driving licence number to find your information on their datavase.
			</p>
			<p>
				This page will time out in 5 minutes.
			</p>
			<fieldset>
				<div class="form-group">
					<label class="form-label" for="ni-number">
					<h4 class="heading-small">Driving licence number</h4>
					    <span class="form-hint">(5 on your photocard licence)</span>
					</label>
					<input class="form-control" id="ni-number" type="text">
				</div>
				<a href="view-licence-details" class="button" role="button">Continue</a>
			</fieldset>
			<p>
				<a href="/">I can't provide my driving licence number</a>
			</p>
			<p>
				If you don't have your driving licence number with you, it's best to sign out at this point for your security. You can sign in later by selecting the certified company that verified you.
			</p>
			<a href="/">Sign out</a>

		</div>
		<div class="column-third">
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
