{{<layout}}

{{$pageTitle}}
	View your driving licence
{{/pageTitle}}

{{$content}}


<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
		<li><a href="#">Home</a></li>
    	<li><a href="#">Driving and transport</a></li>
		<li class="last-breadcrumb"><a href="#">Driving licences</a></strong></li>
		<li class="sign-out"><a href="#">Sign out</a></li>
	</ol>
</div>

<main id="content" role="main">
	<p>
		To update your details or renew your licence visit the <a href="#">driving licence</a> section on GOV.UK
	</p>
	<div class="grid-row">
		<div class="column-two-thirds">
			<table>
				<thead>
					<tr>
						<th colspan="2">Mr Jamie Jones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Date of birth</td>
						<td>1 Jan 1987</td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>Male</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>87 Lordship Park London N16 5UP</td>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<th colspan="2">Licence details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Driving status</td>
						<td>You have a full driving licence</td>
					</tr>
					<tr>
						<td>Licence valid from</td>
						<td>7 May 2015</td>
					</tr>
					<tr>
						<td>Licence valid to</td>
						<td>6 May 2025</td>
					</tr>
					<tr>
						<td>Driving licence number</td>
						<td>JONES901013JJ9XB</td>
					</tr>
					<tr>
						<td>Licence issue number</td>
						<td>24</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="column-third">
			<img class="licence-photo" src="/public/images/placeholder-new-photo.jpg" alt="Your licence photo">
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
